.deleteButton,
.editButton,
.submitEditDeleteButton
{
    margin: 0rem 1rem;
    width: 5rem;
    cursor: pointer;
    background-color: white;
    border-radius: 0.2rem;
    border: 0.1rem solid white;
    font-weight: bold;
}

.deleteButton:hover,
.editButton:hover,
.submitEditDeleteButton:hover
{
    background-color: lightgreen;
}

